# [Group Assignment | Spetember - December 2024]
## CASE STUDY ON TRAVEL AND TOURISM | TREKKING IN NEPAL

> ITS69304 - Data Analytics & Machine Learning

> ITS69404 - Cognitive Computing & Appliciations

## authorization

### install

#### gspread

In [ ]:
# !pip install --upgrade gspread

### import

#### authentication

In [ ]:
from google.colab import auth
auth.authenticate_user()

#### mount drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### gspread and default

In [ ]:
import gspread
from google.auth import default
creds, _ = default()

#### pandas

In [ ]:
import pandas as pd

## first look

### sheets command

#### list all available spreadsheets

In [ ]:
# for file in gc.list_spreadsheet_files():
#   print(file['name'])

#### open 'Nepal Treking'

In [ ]:
gc = gspread.authorize(creds)
worksheet = gc.open('Nepali_Treking_').sheet1

#### convert the  records of rows into dataframe

In [ ]:
rows = worksheet.get_all_values()
df1 = pd.DataFrame.from_records(rows)

## manipualtion

#### checking df1

In [ ]:
display(df1)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date Of Travel,Sex,...,RegionalCode,Country,FitnessLevel,Weather Conditions,Trekking Group Size,Guide No Guide,Equipment Used,Purpose Of Travel,Health Incidents,Review Satisfaction
1,0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,...,0,total,Intermediate,Clear,10,Guide,Poles,Leisure,None,4.5
2,1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,...,40,Afghanistan,,,,,,,,
3,2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,...,80,Albania,Advanced,Snowy,12,Guide,Oxygen,Charity,None,5
4,3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,...,120,Algeria,Intermediate,Clear,5,Guide,Poles,Leisure,None,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,378,Ghorepani Poon Hill Trek,$450 USD,10 Days,Easy,"3,210m",Hotel/Guesthouse,Jan - May & Sept - Dec,8/9/2022,Male,...,7600,Syria,Intermediate,Clear,5,Guide,Poles,Leisure,None,4
380,379,Upper Mustang Trek,$2100 USD,17 Days,Moderate-Hard,4200m,Hotel/Guesthouse,Jan - May & Sept - Dec,9/9/2022,Female,...,7620,Tajikistan,Beginner,Cloudy,6,No Guide,None,Adventure,Minor Injury,3.5
381,380,Mardi Himal Trek,$590 USD,9 Days,Easy-Moderate,"4,500m",Hotel/Guesthouse,Jan - May & Sept - Dec,5/4/2021,Non-Binary,...,7640,Thailand,Intermediate,Clear,10,Guide,Poles,Leisure,None,4.5
382,381,Langtang Valley Trekking,$690 USD,11 Days,Moderate,"4,773m",Hotel/Guesthouse,Jan - May & Sept - Dec,1/13/2021,Female,...,7680,Togo,Beginner,Rainy,8,No Guide,None,Adventure,Altitude Sickness,3
383,382,Manaslu Circuit Trek,$1190 USD,17 Days,Moderate-Hard,"5,220m",Hotel/Guesthouse,Jan - May & Sept - Dec,5/13/2025,Female,...,4560,Nepal,Advanced,Snowy,12,Guide,Oxygen,Charity,None,5

#### retrive value from dataframe with index number

In [ ]:
df1.iloc[0]

0              Unnamed: 0
1                    Trek
2                    Cost
3                    Time
4              Trip Grade
5            Max Altitude
6            Accomodation
7        Best Travel Time
8          Date Of Travel
9                     Sex
10                    Age
11        Employment Type
12          GraduateOrNot
13           AnnualIncome
14          FamilyMembers
15        ChronicDiseases
16          FrequentFlyer
17    EverTravelledAbroad
18        TravelInsurance
19                   Year
20           RegionalCode
21                Country
22           FitnessLevel
23     Weather Conditions
24    Trekking Group Size
25         Guide No Guide
26         Equipment Used
27      Purpose Of Travel
28       Health Incidents
29    Review Satisfaction
Name: 0, dtype: object

#### drop first column

In [ ]:
df2 = df1.drop(columns=df1.columns[0])

#### setting/assigning column name of df to first row and removing the previous first row

In [ ]:
df2.columns = df2.iloc[0]
df2 = df2[1:]

#### checking datatypes

In [ ]:
print(df2.dtypes)

0
Trek                   object
Cost                   object
Time                   object
Trip Grade             object
Max Altitude           object
Accomodation           object
Best Travel Time       object
Date Of Travel         object
Sex                    object
Age                    object
Employment Type        object
GraduateOrNot          object
AnnualIncome           object
FamilyMembers          object
ChronicDiseases        object
FrequentFlyer          object
EverTravelledAbroad    object
TravelInsurance        object
Year                   object
RegionalCode           object
Country                object
FitnessLevel           object
Weather Conditions     object
Trekking Group Size    object
Guide No Guide         object
Equipment Used         object
Purpose Of Travel      object
Health Incidents       object
Review Satisfaction    object
dtype: object

#### checking list of column names

In [ ]:
display(df2.columns)

Index(['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation',
       'Best Travel Time', 'Date Of Travel', 'Sex', 'Age', 'Employment Type',
       'GraduateOrNot', 'AnnualIncome', 'FamilyMembers', 'ChronicDiseases',
       'FrequentFlyer', 'EverTravelledAbroad', 'TravelInsurance', 'Year',
       'RegionalCode', 'Country', 'FitnessLevel', 'Weather Conditions',
       'Trekking Group Size', 'Guide No Guide', 'Equipment Used',
       'Purpose Of Travel', 'Health Incidents', 'Review Satisfaction'],
      dtype='object', name=0)

#### checking dataframe info

In [ ]:
display(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 1 to 383
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Trek                 383 non-null    object
 1   Cost                 383 non-null    object
 2   Time                 383 non-null    object
 3   Trip Grade           383 non-null    object
 4   Max Altitude         383 non-null    object
 5   Accomodation         383 non-null    object
 6   Best Travel Time     383 non-null    object
 7   Date Of Travel       383 non-null    object
 8   Sex                  383 non-null    object
 9   Age                  383 non-null    object
 10  Employment Type      383 non-null    object
 11  GraduateOrNot        383 non-null    object
 12  AnnualIncome         383 non-null    object
 13  FamilyMembers        383 non-null    object
 14  ChronicDiseases      383 non-null    object
 15  FrequentFlyer        383 non-null    object
 16  EverTravelledAbroad  383 non-null    object
 17  TravelInsurance      383 non-null    object
 18  Year                 383 non-null    object
 19  RegionalCode         383 non-null    object
 20  Country              383 non-null    object
 21  FitnessLevel         383 non-null    object
 22  Weather Conditions   383 non-null    object
 23  Trekking Group Size  383 non-null    object
 24  Guide No Guide       383 non-null    object
 25  Equipment Used       383 non-null    object
 26  Purpose Of Travel    383 non-null    object
 27  Health Incidents     383 non-null    object
 28  Review Satisfaction  383 non-null    object
dtypes: object(29)
memory usage: 86.9+ KB

None

#### using describe function

In [ ]:
display(df2.describe())

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date Of Travel,Sex,Age,...,RegionalCode,Country,FitnessLevel,Weather Conditions,Trekking Group Size,Guide No Guide,Equipment Used,Purpose Of Travel,Health Incidents,Review Satisfaction
count,383,383,383,383,383,383,383,383,383,383,...,383,383,383,383,383,383,383,383,383,383
unique,79,167,20,11,43,8,13,332,4,11,...,204,203,4,5,6,3,4,4,4,6
top,Annapurna Base Camp Trek,"$1,499 USD",14 Days,Moderate,"5,545m",Hotel/Guesthouse,Jan - May & Sept - Dec,4/11/2022,Female,28,...,0,Nepal,Beginner,Clear,12,Guide,None,Adventure,None,5
freq,10,36,56,92,55,312,262,3,103,92,...,2,3,138,134,73,207,138,138,207,73

#### check the shape of dataframe

In [ ]:
print(df2.shape)

(383, 29)

#### checking is null array

In [ ]:
print(df2.columns.isnull())

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False]

#### checking total number of null values

In [ ]:
print(df2.isnull().sum())

0
Trek                   0
Cost                   0
Time                   0
Trip Grade             0
Max Altitude           0
Accomodation           0
Best Travel Time       0
Date Of Travel         0
Sex                    0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
Year                   0
RegionalCode           0
Country                0
FitnessLevel           0
Weather Conditions     0
Trekking Group Size    0
Guide No Guide         0
Equipment Used         0
Purpose Of Travel      0
Health Incidents       0
Review Satisfaction    0
dtype: int64

In [ ]:
print(df2.isna().sum())

0
Trek                   0
Cost                   0
Time                   0
Trip Grade             0
Max Altitude           0
Accomodation           0
Best Travel Time       0
Date Of Travel         0
Sex                    0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
Year                   0
RegionalCode           0
Country                0
FitnessLevel           0
Weather Conditions     0
Trekking Group Size    0
Guide No Guide         0
Equipment Used         0
Purpose Of Travel      0
Health Incidents       0
Review Satisfaction    0
dtype: int64

#### checking df2

In [ ]:
display(df2)

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date Of Travel,Sex,Age,...,RegionalCode,Country,FitnessLevel,Weather Conditions,Trekking Group Size,Guide No Guide,Equipment Used,Purpose Of Travel,Health Incidents,Review Satisfaction
1,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,0,total,Intermediate,Clear,10,Guide,Poles,Leisure,None,4.5
2,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,40,Afghanistan,,,,,,,,
3,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,80,Albania,Advanced,Snowy,12,Guide,Oxygen,Charity,None,5
4,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,120,Algeria,Intermediate,Clear,5,Guide,Poles,Leisure,None,4
5,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,200,Andra,Beginner,Cloudy,6,No Guide,None,Adventure,Minor Injury,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,Ghorepani Poon Hill Trek,$450 USD,10 Days,Easy,"3,210m",Hotel/Guesthouse,Jan - May & Sept - Dec,8/9/2022,Male,25,...,7600,Syria,Intermediate,Clear,5,Guide,Poles,Leisure,None,4
380,Upper Mustang Trek,$2100 USD,17 Days,Moderate-Hard,4200m,Hotel/Guesthouse,Jan - May & Sept - Dec,9/9/2022,Female,27,...,7620,Tajikistan,Beginner,Cloudy,6,No Guide,None,Adventure,Minor Injury,3.5
381,Mardi Himal Trek,$590 USD,9 Days,Easy-Moderate,"4,500m",Hotel/Guesthouse,Jan - May & Sept - Dec,5/4/2021,Non-Binary,28,...,7640,Thailand,Intermediate,Clear,10,Guide,Poles,Leisure,None,4.5
382,Langtang Valley Trekking,$690 USD,11 Days,Moderate,"4,773m",Hotel/Guesthouse,Jan - May & Sept - Dec,1/13/2021,Female,29,...,7680,Togo,Beginner,Rainy,8,No Guide,None,Adventure,Altitude Sickness,3
383,Manaslu Circuit Trek,$1190 USD,17 Days,Moderate-Hard,"5,220m",Hotel/Guesthouse,Jan - May & Sept - Dec,5/13/2025,Female,31,...,4560,Nepal,Advanced,Snowy,12,Guide,Oxygen,Charity,None,5

In [ ]:
df2.to_csv('/content/drive/MyDrive/iims/sem6/group 6 project/datasets/df2.csv', index=False)